<tr>
  <td
    align='left'
    bgcolor='#ffffff'
    style='padding: 24px; font-size: 16px; line-height: 24px;'
  >
    <p
      style='margin: 0; text-align: left; padding: 0 30px 0 30px; color:#555'
    >Hey
      <strong>{{name}}</strong>, you're almost ready to start enjoying
      <strong>My classroom</strong>. Simply click the big blue button below to
      verify your email address.</p>
  </td>
</tr>
